body {
    background-color: #F5FFFF;
    font-family: cabin-regular;
    font-weight:500;
}

#container {

    width:100%;
    max-width:700px;
    display:block;
    margin:0 auto;

}

#form {

    display:block;
    border:solid 2px #3498db;

    max-width:100%;
    background-color:#0493bd;
	padding:5%;
	margin-top:10px;
    border-radius: 18px;

}
fieldset {

    padding:25px;

}
input {

    width:300px;
    max-width:100%;
    display:block;
    color:#3c3c3c;
	font-family: cabin-regular;
    font-weight:500;
	font-size: 18px;
	border-radius: 9px;
	line-height: 20px;
	background-color: #fbfbfb;
	padding: 8px 8px 8px ;
	margin-bottom: 20px;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);

    
}
label, input, select {

    margin-left: 45px;
}
#submit {

    font-family: cabin-regular;
    display:block;
    width: 40%;
	border: #fbfbfb solid 3px;
	border-radius:9px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:20px;
	padding-top:8px;
	padding-bottom:8px;
    margin-top:25px;
    font-weight:500;

}
#submit:hover{
	background-color: #B1BBCC;
	color: #0493bd;
}

.valid {

    color:green;
    border: 3px solid green;
}

.invalid {

    color:red;
    border: 3px solid red;
}